a.href(href="tel:+79251754145")
  | +7 925-175-41-45
a.href(href='/')
  | Главная
a.href(href='/about.html')
  | О&nbsp;нас
a.href(href='/contacts.html')
  | Контакты
a.href(href='/appartmens.html')
  | Апартаменты