extends /blocks/layout-default/layout-default

block head
  - var pageTitle = 'Наш сервис';

block content
  .content
    p
      |Спасибо. что выбрали нас. Какой бы ни была цель 
      |Вашего визита в Москву: деловая поездка,  
      |командировка, участие в выставке, отдых или лечение, 
      |спортивные соревнования, в мини-отеле «LINDSAY» 
      |Вы всегда будете чувствовать себя в полной 
      |безопасности и наслаждаться домашним уютом! Мы 
      |обеспечим Вас всем необходимым для комфортного 
      |и приятного проживания.
    h2 Бесплатные услуги и сервис
    ul
      li — Для Вас
      li — Апартаменты 4 видов, 4 категории Апартаменты студия:
        ul
          li Апартаменты студия;
          li Апартаменты с балконом;
          li Апартаменты улучшенные;
          li Апартаменты с двумя спальнями;
      li — Бесплатный WiFi.
      li — По Вашему желанию, мы разбудим Вас, когда Вам удобно.
      li — Вы можете самостоятельно бесплатно использовать наш утюг и гладильную доску.
      li — В случае необходимости Вы всегда можете воспользоваться медицинской аптечкой.
      li — В мини- отеле оборудована кухня, где можно самостоятельно приготовить себе еду.
      li — К Вашим услугам для разогревания еды предусмотрена микроволновая печь
      li — В каждом номере есть электрический чайник и Вы самостоятельно можете приготовить себе чай или кофе
      li — По Вашей просьбе швейные принадлежности можно получить у администратора
      li — Есть бесплатный фен, по Вашей просьбе Вам его предоставят в номер.
      li — На радость Вам и Вашим детям настольные игры (шахматы, лото, детские игры).
      li — По Вашему желанию организуем  для Вас  трансфер или вызовем такси.
      li — Для свободных и приятных минут воспользуйтесь нашей библиотекой из книг и журналов.
      li — Мы всегда поможем Вам отправить или принять срочную электронную почту.



    h2 Платные услуги, услуги за дополнительную плату
    ul
      li — Для Вашего удобства  у администратора Вы можете приобрести за дополнительную плату тапочки, бритвенный набор, зубную щетку, зубную пасту или другие гигиенические принадлежности. подробнее..
      li — Всегда возможна дополнительная смена постельного белья и полотенец по Вашему желанию за дополнительную плату. подробнее...
      li — Вы можете взять напрокат уютный махровый халат, если в Вашем номере его нет. подробнее..
      li — Мы поможем постирать Ваши вещи, в мини- отеле есть стиральная машина. подробнее..
      li — Мы всегда поможем Вам распечатать или отсканировать важный документ. подробнее..
      li — Мы всегда готовы оказать посильную помощь в приобретении билетов на все виды транспорта и увеселительные мероприятия (театры, кино, концерты ) подробнее..
      li — Мы с удовольствием заранее оформим и подготовим номер к Вашему знаменательному событию (день рожденья, свадебное путешествие и др.),подробнее..
      li — Вы можете арендовать DVD-проигрыватель. Воспользуйтесь нашей коллекцией DVD с лучшими фильмами и мультфильмами. подробнее…
      li — Вы всегда можете заказать вкусный завтрак, обед или ужин в номер.  меню у администратора. подробнее..
      li — По Вашей просьбе Вам принесут кофе или чай в номер, сервированный и приготовленный, учитывая Ваши пожелания. подробнее..


    h2 Правила заселения.
    ul
      li — Мы не сдаем апартаменты и номера под вечеринки, праздники.
      li — Мы не селим граждан, не достигших 18-летнего возраста без сопровождения родителей.
      li — При заселении обязательно потребуется паспорт или водительское удостоверение одного из гостей.
      li — Администрация гостиницы оставляет за собой право отказать в заселении без объяснения причин. 
      li — Правила бронирования
      li — Что бы забронировать номер в мини-отеле или апартаменты LINDSAY вам достаточно позвонить по телефону 
        a(href="tel:+79263752681")
          | +7 925 175-41-45
        |  и договориться с администратором.
      li — Вы можете воспользоваться системой онлайн бронирования на сайте.
      li — к Вашим услугам 
