extends /blocks/layout-default/layout-default

block head
  - var pageTitle = 'Апартаменты';

block content
  .content.apartments
    .apartments__images
      p image-06-03-22-01-45-5.heic-min.jpg
      img(width="100%" src="image-06-03-22-01-45-5.heic-min.jpg")
      p image-06-03-22-01-45-6.heic-min.jpg
      img(width="100%" src="image-06-03-22-01-45-6.heic-min.jpg")
      p image-10-03-22-01-43-min.jpg
      img(width="100%" src="image-10-03-22-01-43-min.jpg")
      p IMG_1759-21-01-20-12-32-min.jpg
      img(width="100%" src="IMG_1759-21-01-20-12-32-min.jpg")
      p IMG_20220306_131656-min.jpg
      img(width="100%" src="IMG_20220306_131656-min.jpg")
      p IMG_5997-17-09-21-12-21-min.jpg
      img(width="100%" src="IMG_5997-17-09-21-12-21-min.jpg")

      p img/701/1.jpeg
      p img/701/2.jpeg
      p img/701/3.jpeg
    .owl-carousel
      img(src="img/701/1.jpeg", alt="")
      img(src="img/701/2.jpeg", alt="")
      img(src="img/701/3.jpeg", alt="")

    p img/702-703/1.jpeg
    p img/702-703/2.jpeg
    p img/702-703/3.jpeg
    p img/702-703/4.jpeg
    p img/702-703/5.jpeg
    p img/702-703/6.jpeg
    p img/702-703/7.jpeg
    .owl-carousel
      img(src="img/702-703/1.jpeg", alt="")
      img(src="img/702-703/2.jpeg", alt="")
      img(src="img/702-703/3.jpeg", alt="")
      img(src="img/702-703/4.jpeg", alt="")
      img(src="img/702-703/5.jpeg", alt="")
      img(src="img/702-703/6.jpeg", alt="")
      img(src="img/702-703/7.jpeg", alt="")
    p img/704/1.jpeg
    p img/704/2.jpeg
    p img/704/3.jpeg
    p img/704/4.jpeg
    p img/704/5.jpeg
    .owl-carousel
      img(src="img/704/1.jpeg", alt="")
      img(src="img/704/2.jpeg", alt="")
      img(src="img/704/3.jpeg", alt="")
      img(src="img/704/4.jpeg", alt="")
      img(src="img/704/5.jpeg", alt="")
    p img/705/1.jpeg
    p img/705/2.jpeg
    p img/705/3.jpeg
    p img/705/4.jpeg
    p img/705/5.jpeg
    p img/705/6.jpeg
    .owl-carousel
      img(src="img/705/1.jpeg", alt="")
      img(src="img/705/2.jpeg", alt="")
      img(src="img/705/3.jpeg", alt="")
      img(src="img/705/4.jpeg", alt="")
      img(src="img/705/5.jpeg", alt="")
      img(src="img/705/6.jpeg", alt="")
    p img/706-714/1.jpeg
    p img/706-714/2.jpeg
    p img/706-714/3.jpeg
    p img/706-714/4.jpeg
    p img/706-714/5.jpeg
    p img/706-714/6.jpeg
    p img/706-714/7.jpeg
    .owl-carousel
      img(src="img/706-714/1.jpeg", alt="")
      img(src="img/706-714/2.jpeg", alt="")
      img(src="img/706-714/3.jpeg", alt="")
      img(src="img/706-714/4.jpeg", alt="")
      img(src="img/706-714/5.jpeg", alt="")
      img(src="img/706-714/6.jpeg", alt="")
      img(src="img/706-714/7.jpeg", alt="")
    p img/707/1.jpeg
    p img/707/2.jpeg
    p img/707/3.jpeg
    p img/707/4.jpeg
    p img/707/5.jpeg
    .owl-carousel
      img(src="img/707/1.jpeg", alt="")
      img(src="img/707/2.jpeg", alt="")
      img(src="img/707/3.jpeg", alt="")
      img(src="img/707/4.jpeg", alt="")
      img(src="img/707/5.jpeg", alt="")
    p img/708/1.jpeg
    p img/708/2.jpeg
    p img/708/3.jpeg
    .owl-carousel
      img(src="img/708/1.jpeg", alt="")
      img(src="img/708/2.jpeg", alt="")
      img(src="img/708/3.jpeg", alt="")
    p img/709/1.jpeg
    p img/709/2.jpeg
    p img/709/3.jpeg
    .owl-carousel
      img(src="img/709/1.jpeg", alt="")
      img(src="img/709/2.jpeg", alt="")
      img(src="img/709/3.jpeg", alt="")
    p img/711-712/1.jpeg
    p img/711-712/2.jpeg
    p img/711-712/3.jpeg
    p img/711-712/4.jpeg
    p img/711-712/5.jpeg
    p img/711-712/6.jpeg
    p img/711-712/7.jpeg
    .owl-carousel
      img(src="img/711-712/1.jpeg", alt="")
      img(src="img/711-712/2.jpeg", alt="")
      img(src="img/711-712/3.jpeg", alt="")
      img(src="img/711-712/4.jpeg", alt="")
      img(src="img/711-712/5.jpeg", alt="")
      img(src="img/711-712/6.jpeg", alt="")
      img(src="img/711-712/7.jpeg", alt="")

  script(src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8=" crossorigin="anonymous")
  script(src="libs/owl.carousel.min.js")
  script(type='text/javascript').
    $(document).ready(function(){
      $(".owl-carousel")
        .owlCarousel(
          {
            items: 1,
            margin: 10,
            nav: true
          }
        );
    });
