extends /blocks/layout-default/layout-default

block head
	- var pageTitle = 'Главная';

block content
	.bg-wrapper
		.apartments-wrapper
			.apartments-widget
				.apartments-widget__title 
					| МИНИ ОТЕЛЬ ЛИНДСЕЙ
				.apartments-widget__foto.--lindsay
					img(src="/lindsay.jpg", alt="", srcset="")
				.apartments-widget__order-button-wrapper
					a.apartments-widget__order-button(href='/order.html')
						| Бронировать

			.apartments-widget
				.apartments-widget__title 
					| АПАРТАМЕНТЫ ЛИНД
				.apartments-widget__foto.--apartments
					img(src="/apartments.jpg", alt="", srcset="")
				.apartments-widget__order-button-wrapper
					a.apartments-widget__order-button(href='/order-2.html')
						| Бронировать
