extends /blocks/layout-default/layout-default

block head
  - var pageTitle = 'Бронировать';

block content
  .content.content--order
    iframe.order-iframe(src="https://reservationsteps.ru/rooms/index/a082dd76-eafa-400a-9432-984f349b2142", frameborder="0") 