extends /blocks/layout-default/layout-default

block head
  - var pageTitle = 'Бронировать';

block content
  .content.content--order
    iframe.order-iframe(src="https://reservationsteps.ru/rooms/index/5125b29f-f39e-498a-94cf-9e47889ff248", frameborder="0") 