menu.top-menu
	.top-menu__left-wrapper
		| LINDSEY MINI-HOTEL
	.top-menu__right-wrapper
		a.top-menu__href(href='tel:+79251754145')
			| +7 925 175-41-45
		a.top-menu__href(href='/')
			| Главная
		a.top-menu__href(href='/about.html')
			| О&nbsp;нас
		a.top-menu__href(href='/appartmens.html')
			| Аппартаменты


