.top-menu
	display flex
	color white
	background-color #26120c
	align-items center
	justify-content space-between
.top-menu__href
	margin-left 10px
	font-size 16px
	text-decoration underline
	text-decoration-color rgba(255,255,255,.5)
.top-menu__right-wrapper
	padding 20px
	
.top-menu__left-wrapper
	padding 20px

