.footer
	.footer__href-wrapper
		a.footer__href(href='/')
			| Главная
		a.footer__href(href='/about.html')
			| О&nbsp;нас
		a.footer__href(href='/appartmens.html')
			| Аппартаменты
		a.footer__href(href='/order.html')
			| Бронировать
		a.footer__href(href="tel:+79263752681")
			| +7 925 175-41-45
		

