.footer,
.footer__101-wrapper 
	display flex
	color white
	background-color #26120c
	align-items center
	justify-content center
	min-height 10vh
	border-top: 1px solid #aaaaaa
.footer__href-wrapper
	display flex
	@media (max-width: 750px)
		flex-direction column
		padding 20px
	width 900px
	justify-content space-between
	.href
		color white
		margin-left 10px
		margin-bottom 10px
		opacity .7
		font-size 16px
		text-decoration underline
		text-decoration-color rgba(255, 255, 255, 0.849) 
		&:visited
			color white 
