.footer
    .footer__href-wrapper
        include ../hrefs/hrefs
.footer__101-wrapper 
    a(target="_blank" id="hotels101_partner_widget_19" style="text-decoration: none; display: block; width: 300px; height: 60px;" href="https://101hotels.com/main/cities/moskva/aparthotel_lind.html")
    script.
        (function() {
            var script   = document.createElement('script'), generated_id = 19;
            script.type  = 'text/javascript';
            script.async = true;
            script.src   = 'https://101hotels.com/widget/generator/' + generated_id + '/511546/t-9/without-hover';
            var node = document.getElementsByTagName('head')[0];
            node.appendChild(script);
        }());


