.footer
	display flex
	color white
	background-color #26120c
	align-items center
	justify-content center
	height 10vh

.footer__href-wrapper
	display flex
	width 900px
	justify-content space-between
.footer__href
	color white
	margin-left 10px
	opacity .5
	font-size 16px
	text-decoration underline
	text-decoration-color rgba(255, 255, 255, .5) 
	&:visited
		color white 
